## Part 1

### State the null hypothesis

Changing the power of the plasma beam does not have any effect on the etching rate by the machine.

### State the alternate hypothesis

Changing the power of the plasma beam has an impact on the etching rate by the machine.

### What is the significance level

In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')

In [4]:
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols #ordinary least squares

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [9]:
df.head()

   power  etching_rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [12]:
model=ols('etching_rate ~ C(power)', data=df).fit()

### What are the degrees of freedom of model, error terms, and total DoF

In [13]:
results_table=sm.stats.anova_lm(model)

In [14]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

**Significance level is 0,05**

The **degrees of freedom** of the model are **(2,12)**

Total **degrees of freedom** are 14

## Part 2

### What conclusions can you draw from the experiment and why?

 3.89 is the **critical value**
 
 **F > 3.89** --> we can reject the null hypothesis