Instructions

We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

Scenario

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

We are looking for evidence that a new machine will pack faster on the average than the machine currently used

In [1]:
import pandas as pd
from scipy.stats import ttest_1samp
# this is one tailed t test

In [2]:
df=pd.read_excel('Machine_Lab_file.xlsx', sheet_name='Sheet1')

In [3]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [4]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [5]:
df.describe()
#checking the means as we will use them to compare machines

       new_machine  old_machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

In [6]:
new_machine_list = df["new_machine"].tolist()

In [7]:
new_machine_list

[42.1, 41.0, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [8]:
old_machine_list = df["old_machine"].tolist()

In [9]:
old_machine_list

[42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44.0, 44.1]

In [11]:
import scipy.stats as stats

In [12]:
#perform two sample t-test with equal variances
stats.ttest_ind(a=new_machine_list, b=old_machine_list, equal_var=True)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)