# 1st Prototype (GNOD)

## Importing libraries and reading df

In [1]:
import pandas as pd
import random

In [2]:
top_hot_100_songs = pd.read_csv("top_hot_100.csv")

In [3]:
top_hot_100_songs.head()

,song,artist,rank
0,All Too Well (Taylor's Version),Taylor Swift,1
1,Easy On Me,Adele,2
2,Stay,The Kid LAROI & Justin Bieber,3
3,Industry Baby,Lil Nas X & Jack Harlow,4
4,Smokin Out The Window,Silk Sonic (Bruno Mars & Anderson .Paak),5

## Formatting the dataframe and lowercasing

In [4]:
top_hot_100_songs["song"] = top_hot_100_songs["song"].apply(lambda x: x.lower())

top_hot_100_songs["artist"] = top_hot_100_songs["artist"].apply(lambda x: x.lower())

In [5]:
top_hot_100_songs.head()

,song,artist,rank
0,all too well (taylor's version),taylor swift,1
1,easy on me,adele,2
2,stay,the kid laroi & justin bieber,3
3,industry baby,lil nas x & jack harlow,4
4,smokin out the window,silk sonic (bruno mars & anderson .paak),5

In [6]:
# Rank column is not needed

top_hot_100_songs.drop(['rank'], axis = 1, inplace = True)

In [7]:
top_hot_100_songs.head()

                              song                                    artist
0  all too well (taylor's version)                              taylor swift
1                       easy on me                                     adele
2                             stay             the kid laroi & justin bieber
3                    industry baby                   lil nas x & jack harlow
4            smokin out the window  silk sonic (bruno mars & anderson .paak)

## Creating a loop to check if song is hot or not

In [15]:
for i in top_hot_100_songs[["song","artist"]].iterrows():
    user_input = input("Enter a song or artist: ")
    if user_input.lower() in list(top_hot_100_songs["song"]):
        random_song = random.choice(top_hot_100_songs["song"]).title()
        song_artist = top_hot_100_songs.loc[top_hot_100_songs["song"] == random.choice(top_hot_100_songs["song"]), "artist"].values[0]
        
        print("You may also like this song: ", random_song, "from", song_artist.title())
        print("Thanks for using the music recommender.")
        break
    elif user_input.lower() in list(top_hot_100_songs["artist"]) or top_hot_100_songs["artist"].str.contains(user_input).any():
        print("You may also like this artist: ", random.choice(top_hot_100_songs["artist"]).title())
        print("Thanks for using the music recommender.")
        break
    elif user_input not in top_hot_100_songs.iterrows():
        print("Sorry, we can't recommend you any song. Please try with another hot song or artist:")
        continue

Enter a song or artist: stay
You may also like this song:  Blast Off from Luke Combs
Thanks for using the music recommender.