# Lab | Web Scraping Single Page

## Scraping the top 100 songs

WeÂ´ll start by going to https://www.billboard.com/charts/hot-100/ and Scraping the current top 100 songs and their respective artist.

In [1]:
# Importing libraries- BeautifulSoup, requests, pandas
import pandas as pd
from bs4 import BeautifulSoup
import re
import requests

In [2]:
# Find url and store it in a variable
url="https://www.billboard.com/charts/hot-100/"

In [3]:
# download html with a get request
response = requests.get(url)

In [4]:
#check response status code 
response.status_code

200

In [5]:
#parse and store the contents of the url call
soup=BeautifulSoup(response.content,'html.parser')

### Query the soup to get song title and artist

In [6]:
# getting song title

soup.select('h3.c-title.a-no-trucate')[0].get_text(strip=True)

"All Too Well (Taylor's Version)"

In [7]:
# getting artist

soup.select('span.c-label.a-font-primary-s')[0].get_text(strip=True)

'Taylor Swift'

In [8]:
songs = len(soup.select('h3.c-title.a-no-trucate'))
songs

100

In [9]:
from tqdm.notebook import tqdm

In [10]:
song=[]
artist=[]
last_week=[]
peak_list=[]
weeks_on_chart=[]

for i in tqdm (range(songs)):
    song.append(soup.select('h3.c-title.a-no-trucate')[i].get_text(strip=True))
    artist.append(soup.select('span.c-label.a-font-primary-s')[i].get_text(strip=True))

  0%|          | 0/100 [00:00<?, ?it/s]

In [11]:
songsdf = pd.DataFrame({'song':song,'artist':artist})

In [12]:
songsdf.head()

                              song                                    artist
0  All Too Well (Taylor's Version)                              Taylor Swift
1                       Easy On Me                                     Adele
2                             Stay             The Kid LAROI & Justin Bieber
3                    Industry Baby                   Lil Nas X & Jack Harlow
4            Smokin Out The Window  Silk Sonic (Bruno Mars & Anderson .Paak)

In [13]:
songsdf['rank'] = songsdf.index+1

In [14]:
songsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   song    100 non-null    object
 1   artist  100 non-null    object
 2   rank    100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [15]:
songsdf.head()

,song,artist,rank
0,All Too Well (Taylor's Version),Taylor Swift,1
1,Easy On Me,Adele,2
2,Stay,The Kid LAROI & Justin Bieber,3
3,Industry Baby,Lil Nas X & Jack Harlow,4
4,Smokin Out The Window,Silk Sonic (Bruno Mars & Anderson .Paak),5

In [16]:
songsdf.to_csv("top_hot_100.csv", index=False)